{
    "swagger": "2.0",
    "info": {
        "version": "v2",
        "title": "Api"
    },
    "host": "v2api.frotcom.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/v2/accounts/workingPeriods": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get working periods",
                "description": "Returns the working periods in seconds for the account",
                "operationId": "Account_GetWorkingPeriods",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Period"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update working periods",
                "description": "Updates the working periods for account (units in seconds)",
                "operationId": "Account_PutWorkingPeriod",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Period"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/v2/accounts/permittedPeriods": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get permitted periods",
                "description": "Gets the permitted periods in seconds for the account",
                "operationId": "Account_GetPermittedPeriods",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Period"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Period"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update permitted periods",
                "description": "Updates the permitted periods for account (units in seconds)",
                "operationId": "Account_PutPermittedPeriod",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Period"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/v2/accounts/drivingTimeRestrictions": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get driving time restrictions",
                "description": "Returns the driving restrictions in seconds defined for the account.",
                "operationId": "Account_GetDrivingTimeRestrictions",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "defaults",
                        "in": "query",
                        "description": "Return default driving time restrictions.",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.CompanyDrivingRestrictions"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update driving time restrictions",
                "description": "Updates the driving time restrictions for the account",
                "operationId": "Account_PutDrivingTimeRestrictions",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "restrictions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.CompanyDrivingRestrictions"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.CompanyDrivingRestrictions"
                        }
                    }
                }
            }
        },
        "/v2/accounts/usefulLinks": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get useful links list",
                "description": "Returns the list of useful links defined for the account",
                "operationId": "Account_GetUsefulLinks",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "edit",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.ExternalModule"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.ExternalModule"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add a useful links",
                "description": "Adds a useful link to the list",
                "operationId": "Account_AddUsefulLinks",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "usefulLink",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.ExternalModule"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                        }
                    }
                }
            }
        },
        "/v2/accounts/usefulLinks/{id}": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update a useful link",
                "description": "Updates the specified useful link",
                "operationId": "Account_PutUsefulLinks",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "usefulLink",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.ExternalModule"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete a useful link",
                "description": "Deletes the specified useful link",
                "operationId": "Account_DeleteUsefulLinks",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/v2/accounts/cnpd": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Change CNPD mode",
                "description": "Changes the CNPD mode of the account",
                "operationId": "Account_ChangeCNPD",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "cnpd",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.CNPDMode"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/v2/accounts/externalModules": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get external modules",
                "description": "Returns the list of external modules (Apps) configured for the account",
                "operationId": "Account_GetExternalModules",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.ExternalModule"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.ExternalModule"
                            }
                        }
                    }
                }
            }
        },
        "/v2/accounts/temperatureRanges": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get temperature ranges",
                "description": "Returns the list of temperature ranges configured for the account",
                "operationId": "Account_GetTemperatureRange",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.TemperatureRange"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.TemperatureRange"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add temperature range",
                "description": "Adds a new temperature range to the account",
                "operationId": "Account_AddTemperatureRange",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "range",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.TemperatureRange"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                        }
                    }
                }
            }
        },
        "/v2/accounts/temperatureRanges/{id}": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update temperature range",
                "description": "Updates the specified temperature range",
                "operationId": "Account_PutTemperatureRange",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "range",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.TemperatureRange"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.TemperatureRange"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.TemperatureRange"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete temperature range",
                "description": "Deletes the specified temperature range",
                "operationId": "Account_DeleteTemperatureRange",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/v2/accounts/industries": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get industries",
                "description": "Returns the list of possible industries (activity sector)",
                "operationId": "Account_GetIndustries",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Industry"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Industry"
                            }
                        }
                    }
                }
            }
        },
        "/v2/accounts": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get account",
                "description": "Returns account information",
                "operationId": "Account_GetAccount",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Account"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update account",
                "description": "Updates account information",
                "operationId": "Account_PutAccount",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Account"
                        }
                    },
                    {
                        "name": "resetAlarms",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/v2/accounts/mapProfiles": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get vehicle profiles (HERE maps)",
                "description": "Returns the list of vehicle profiles used for directions and tolls calculations with HERE maps.",
                "operationId": "Account_GetMapProfiles",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Profiles.MapProfile"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add vehicle profile (HERE maps)",
                "description": "Adds a new vehicle profile to be used for directions and tolls calculations with HERE maps.",
                "operationId": "Account_AddMapProfile",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "profile",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Profiles.MapProfile"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                        }
                    }
                }
            }
        },
        "/v2/accounts/mapProfiles/{id}": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get vehicle profile (HERE maps)",
                "description": "Returns the specified vehicle profile used for directions and tolls calculations with HERE maps.",
                "operationId": "Account_GetMapProfile",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Profiles.MapProfile"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update vehicle profile (HERE maps)",
                "description": "Updates the specified vehicle profile used for directions and tolls calculations with HERE maps.",
                "operationId": "Account_PutMapProfile",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "profile",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.Profiles.MapProfile"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete vehicle profile (HERE maps)",
                "description": "Deletes the specified vehicle profile used for directions and tolls calculations with HERE maps.",
                "operationId": "Account_DeleteMapProfile",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/v2/accounts/vehicleTypes": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get vehicle types",
                "description": "Returns the list of vehicle types defined in the account.",
                "operationId": "Account_GetVehicleTypes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Accounts.VehicleTypes.VehicleTypeEdit"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add new vehicle type",
                "description": "Adds a new vehicle type to the account.",
                "operationId": "Account_AddVehicleType",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "vehicleType",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.VehicleTypes.VehicleTypeEdit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                        }
                    }
                }
            }
        },
        "/v2/accounts/vehicleTypes/{id}": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update vehicle type",
                "description": "Updates the specified vehicle type.",
                "operationId": "Account_PutVehicleTypes",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "vehicleType",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Accounts.VehicleTypes.VehicleTypeEdit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete vehicle type",
                "description": "Deletes the specified vehicle type.",
                "operationId": "Account_DeleteVehicleType",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/v2/accounts/deviceTypes": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get the devices types for the account",
                "operationId": "Account_GetDevicesTypesForAccount",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/System.Collections.Generic.KeyValuePair[System.String,System.Boolean]"
                            }
                        }
                    }
                }
            }
        },
        "/v2/accounts/emailSettings": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Email Settings",
                "description": "Return the email settings for the given account",
                "operationId": "Account_GetEmailSettings",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Helpers.Models.Communications.Inbox.EmailSettings"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Validate and save email settings",
                "description": "Validate imap email setting and save settings in account preferences",
                "operationId": "Account_ValidateAndSaveEmailSettings",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "settings",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Helpers.Models.Communications.Inbox.EmailSettings"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "BadRequest with ErrorResult object"
                    }
                }
            }
        },
        "/v2/accounts/ecoScores": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get the company driving behavior scores for every event type.",
                "description": "Returns the driving behavior scores values that the user sets for the company for each event type.",
                "operationId": "Account_GetCompanyEcoScores",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataModels.Accounts.CompanyEcoScores"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Adds the score values for the event type passed on the object scores.",
                "operationId": "Account_PostCompanyEcoScores",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "scores",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Accounts.CompanyEcoScores"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "BadRequest"
                    }
                }
            }
        },
        "/v2/accounts/ecoScores/{id}": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Updates the driving behavior score values for the id passed as parameter",
                "operationId": "Account_PutCompanyEcoScores",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "scores",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Accounts.CompanyEcoScores"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "BadRequest"
                    }
                }
            }
        },
        "/v2/accounts/driverLicense": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Obtain all Company License Class for the company of the logged user",
                "description": "This endpoint will return an array of CompanyDriverLicense that are not deleted for the company of the logged user",
                "operationId": "Account_GetCompanyDriverLicense",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataModels.Drivers.CompanyDriverLicense"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Create a new Company Driver License Class for the current user company",
                "description": "This endpoint will create a new Company Driver License Class to be selected as a possibility for the company drivers",
                "operationId": "Account_CreateCompanyDriverLicense",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "driverLicense",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Drivers.CompanyDriverLicense"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Drivers.CompanyDriverLicense"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/v2/accounts/driverLicense/{id}": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update a current CompanyDriverLicense",
                "description": "This endpoint will update a specific CompanyDriverLicense, considering that the License Class is not the same as another License class currently in the company",
                "operationId": "Account_UpdateCompanyDriverLicense",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of the CompanyDriverLicense",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "license",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Drivers.CompanyDriverLicense"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "NotFound"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete a currently active CompanyDriverLicense",
                "description": "This endpoint will delete, by using soft delete method, a CompanyDriverLicense that is active but its not in use in any driver",
                "operationId": "Account_DeleteCompanyDriverLicense",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of CompanyDriverLicense",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "404": {
                        "description": "NotFound"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/v2/accounts/vehiclestatus": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get VehicleStatus",
                "description": "This endpoint will return all the vehicle status created and used by the company from the logged user",
                "operationId": "Account_GetVehicleStatus",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataModels.Vehicles.CompanyVehicleStatus"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Create a VehicleStatus",
                "description": "This endpoint will create a vehicle status returning the new created object.\r\nThe created status will be validated so the Name and Color are distinct of every other in the same company",
                "operationId": "Account_CreateVechicleStatus",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "vehicleStatus",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Vehicles.CompanyVehicleStatus"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Vehicles.CompanyVehicleStatus"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Vehicles.CompanyVehicleStatus"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/v2/accounts/vehiclestatus/{id}": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Update a VehicleStatus",
                "description": "This endpoint will update a certain vehicle status. Pass the ID in the URI and the updated object in the body.\r\nThe updated status will be validated so the Name and Color are distinct of every other in the same company",
                "operationId": "Account_UpdateVehicleStatus",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "VehicleStatus id on URI",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "vehicleStatus",
                        "in": "body",
                        "description": "VehicleStatus object from body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.Vehicles.CompanyVehicleStatus"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete a VehicleStatus",
                "description": "This endpoint will mark the VehicleStatus as deleted. For the deletion of the vehicle status to be possible, no vehicle in the company can have the vehicle status assigned to it\r\nIts a soft delete method",
                "operationId": "Account_DeleteVehicleStatus",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "VehicleStatus Id to be deleted",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/v2/accounts/forms": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Forms Filter",
                "description": "This endpoint returns all forms that were not deleted from the table MobilityForm with the authorized list of users, segments, and departments.\r\n\r\n### Response:\r\n```json\r\n{\r\n  \"name\": string - Form name,\r\n  \"usernames\": \r\n  [ Array with all usernames ],\r\n  \"departmentIds\": \r\n  [ Array with all departmentIds ],\r\n  \"segmentsIds\": \r\n  [ Array with all segmentsIds ]\r\n}\r\n```",
                "operationId": "Account_GetFormsFilter",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Form.DTO.FormFilterResponse"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Form.DTO.FormFilterResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized is returned when:<br />\r\n                - The authentication token is invalid<br />"
                    },
                    "403": {
                        "description": "Forbidden is returned when:<br />\r\n                - User does not have permission to access the admin panel or add or edit forms<br />"
                    }
                }
            }
        },
        "/v2/accounts/forms/{formName}": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add or Update Mobility Form Filter",
                "description": "This endpoint adds or updates the authorized list of users, departments, and segments for a specific form.\r\n\r\n### Input:\r\n```json\r\n{\r\n \"formName\": string - Form name,\r\n \"form\": FormFilter - The authorized list of users, segments, and departments\r\n}\r\n```\r\n\r\n### Response:\r\n```json\r\n{\r\n   bool - Indicates if the operation was successful\r\n}\r\n```",
                "operationId": "Account_AddUpdateFormFilter",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "formName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "form",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Form.FormFilter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "401": {
                        "description": "Unauthorized is returned when:<br />\r\n                - The authentication token is invalid<br />"
                    },
                    "403": {
                        "description": "Forbidden is returned when:<br />\r\n                - User does not have permission to access the admin panel or add or edit forms<br />"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/v2/alarms/occurrences": {
            "post": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get alarm occurrences",
                "description": "Returns the list of alarm occurrences for the given period, with a limit of 2000 records.<br /><a href=\"/documentation/endpoints/Alarms/PostOccurrences\" target=\"doc_Alarms_GetOccurrentes_post\">Â» See the detailed description here</a>",
                "operationId": "Alarms_PostOccurrences",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "body",
                        "description": "The alarm filter",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmFilter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrences"
                        }
                    },
                    "204": {
                        "description": "No content is returned when:<br />\r\n                - There are no occurrences for the filter received in the input",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrences"
                        }
                    },
                    "400": {
                        "description": "Bad request is return when:<br />\r\n                - The request parameter is not specified. The request must have at least the brackets ({})<br />"
                    },
                    "401": {
                        "description": "Unauthorized is returned when:<br />\r\n                - The token is invalid<br />"
                    },
                    "403": {
                        "description": "Forbidden is returned when:<br />\r\n                - User does not have permission to view alarm occurrences<br />"
                    }
                }
            }
        },
        "/v2/alarms/occurrencesextended": {
            "post": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get alarm occurrences with increased limit",
                "description": "Returns the list of alarm occurrences for the given period, with a limit of 15000 records.<br /><a href=\"/documentation/endpoints/Alarms/PostOccurrencesExtended\" target=\"doc_Alarms_GetOccurrentesExtended_post\">Â» See the detailed description here</a>",
                "operationId": "Alarms_PostOccurrencesExtended",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "body",
                        "description": "The alarm filter",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmFilter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrences"
                        }
                    },
                    "204": {
                        "description": "No content is returned when:<br />\r\n                - There are no occurrences for the filter received in the input",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrences"
                        }
                    },
                    "400": {
                        "description": "Bad request is return when:<br />\r\n                - The request parameter is not specified. The request must have at least the brackets ({})<br />"
                    },
                    "401": {
                        "description": "Unauthorized is returned when:<br />\r\n                - The token is invalid<br />"
                    },
                    "403": {
                        "description": "Forbidden is returned when:<br />\r\n                - User does not have permission to view alarm occurrences<br />"
                    }
                }
            }
        },
        "/v2/alarms/{id}": {
            "get": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get alarm occurrence details",
                "description": "Returns the details of the specified alarm occurrences",
                "operationId": "Alarms_GetDetails",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "flatten",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.NewAlarms.Alarms.OccurrenceApi"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.DataModels.NewAlarms.Alarms.OccurrenceApi"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid credentials"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/v2/alarms": {
            "put": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Process occurrences",
                "description": "Marks the given list of alarm occurrences as processed, adding the supplied text note to all of them.",
                "operationId": "Alarms_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "processed",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrenceEdit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrenceEdit"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmOccurrenceEdit"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid credentials"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/v2/alarms/instances": {
            "get": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get grouped by instance name",
                "description": "Returns the list of alarms configured, grouped by instance name (user defined alarm name)",
                "operationId": "Alarms_GetInstances",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmGroup"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmGroup"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get definitions by instance ids",
                "description": "Returns the list of alarms configured for the supplied IDs",
                "operationId": "Alarms_GetDefinitions",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmDefinition"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmDefinition"
                            }
                        }
                    }
                }
            }
        },
        "/v2/alarms/definitions/details": {
            "post": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get single definition detail",
                "description": "Returns the details of the specified alarm definition",
                "operationId": "Alarms_GetDefinitionDetails",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmEdit"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmEdit"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid credentials"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/v2/alarms/definitions": {
            "put": {
                "tags": [
                    "Alarms"
                ],
                "summary": "update definitions",
                "description": "Updates alarms with the supplied definitions.\r\nThe json object with the definitions must be obtained with the method GET template.",
                "operationId": "Alarms_UpdateDefinitions",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "definitions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized - invalid credentials"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Add definitions",
                "description": "Creates new alarms with the supplied definitions.<br /><a href=\"/documentation/endpoints/Alarms/SetDefinitions\" target=\"doc_Alarms_AddDefinitions_post\">Â» See the detailed description here</a>",
                "operationId": "Alarms_SetDefinitions",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "definitions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataAgents.Identity"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request is returned when: <br />\r\n- Definitions object is null<br />\r\n- Alarm doesn't have license classes<br />\r\n- Authenticated user has expired drivers license<br />"
                    },
                    "401": {
                        "description": "Unauthorized - invalid credentials"
                    },
                    "403": {
                        "description": "Forbidden is returned when:<br />\r\n- User doesn't have Manage Alarms permission<br />"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Delete definitions",
                "description": "Deletes the supplied list of alarm definitions",
                "operationId": "Alarms_DeleteDefinition",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized - invalid credentials"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/v2/alarms/instancesbydefinition": {
            "post": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get definitions grouped by instance ids",
                "description": "Returns the list of alarms configured, grouped by instance ID, for the supplied IDs",
                "operationId": "Alarms_GetInstancesByDefId",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmGroup"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.Api.Models.Alarms.AlarmGroup"
                            }
                        }
                    }
                }
            }
        },
        "/v2/alarms/vehicles/{typeId}": {
            "get": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get vehicles for a given alarm type",
                "description": "Returns the list of vehicles which have configured alarms of the specified type",
                "operationId": "Alarms_GetVehicles",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "typeId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "openDoor",
                            "temperature",
                            "inactivity",
                            "communicationProblems",
                            "predefinedMileageReached",
                            "overspeed",
                            "localSpeedAlarm",
                            "areaExit",
                            "areaEntrance",
                            "roadUsage",
                            "usageOutPermittedPeriod",
                            "timeAppointments",
                            "mileageAppointments",
                            "hoursAppointments",
                            "unidentifiedDriver",
                            "panicButton",
                            "idling",
                            "openSealDoor",
                            "monthlyMileage",
                            "dailyActivityStart",
                            "fuelLevel",
                            "externalPower",
                            "engineOverspeed",
                            "engineTemperature",
                            "corridorExit",
                            "corridorExitDetectionStarted",
                            "corridorExitDetectionEnded",
                            "routeLegEarlyArrival",
                            "routeLegLateArrival",
                            "routeLegOutOfLimits",
                            "routeLegEarlyDeparture",
                            "routeLegLateDeparture",
                            "genericDigital",
                            "genericAnalog",
                            "corridorIgnitionOff",
                            "drivingTimeLimits",
                            "tachographFailure",
                            "diagnosticsTroubleCodes",
                            "startStop",
                            "garminSpeedAlert",
                            "garminDashCamIncident",
                            "garminDashCamForwardCollisionAlert",
                            "garminDashCamLaneDepartureAlert",
                            "seatBeltMissing",
                            "vehicleWeight",
                            "trailerWeight",
                            "oilLowLevel",
                            "adBlueLowLevel",
                            "hOSViolation",
                            "expiredDriverLicense",
                            "driverFatigueDetection",
                            "driverDistractionDetection",
                            "wFMForms",
                            "drivingBehaviorEvents",
                            "accident",
                            "mandatoryStop",
                            "accumulatedAlarms",
                            "bLETrailerIDLowLevel",
                            "tires",
                            "excessiveFuelConsumption",
                            "couplingAndUncoupling",
                            "workingDayAndRestDuration",
                            "workingDayNotStarted",
                            "daysLeftToReturnVehicleToCountryOfOrigin",
                            "abruptSpeedChange"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataModels.Vehicles.Vehicle"
                            }
                        }
                    },
                    "204": {
                        "description": "No content",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Frotcom.DataModels.Vehicles.Vehicle"
                            }
                        }
                    }
                }
            }
        },
        "/v2/alarms/template/{typeId}": {
            "get": {
                "tags": [
                    "Alarms"
                ],
                "summary": "Get template for a given alarm type",
                "description": "Returns the template for the creation of a new alarm of the specified type",
                "operationId": "Alarms_GetDefinitionFields",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "typeId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "openDoor",
                            "temperature",
                            "inactivity",
                            "communicationProblems",
                            "predefinedMileageReached",
                            "overspeed",
                            "localSpeedAlarm",
                            "areaExit",
                            "areaEntrance",
                            "roadUsage",
                            "usageOutPermittedPeriod",
                            "timeAppointments",
                            "mileageAppointments",
                            "hoursAppointments",
                            "unidentifiedDriver",
                            "panicButton",
                            "idling",
                            "openSealDoor",
                            "monthlyMileage",
                            "dailyActivityStart",
                            "fuelLevel",
                            "externalPower",
                            "engineOverspeed",
                            "engineTemperature",
                            "corridorExit",
                            "corridorExitDetectionStarted",
                            "corridorExitDetectionEnded",
                            "routeLegEarlyArrival",
                            "routeLegLateArrival",
                            "routeLegOutOfLimits",
                            "routeLegEarlyDeparture",
                            "routeLegLateDeparture",
                            "genericDigital",
                            "genericAnalog",
                            "corridorIgnitionOff",
                            "drivingTimeLimits",
                            "tachographFailure",
                            "diagnosticsTroubleCodes",
                            "startStop",
                            "garminSpeedAlert",
[...]
